* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
}
/* nav {
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.412);
  position: fixed;
  top: 5px;
  box-shadow: 10px 10px 40px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
} */
.go-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  display: none;
  z-index: 11112;
  cursor: pointer;
}
.go-to-top i {
  color: orangered;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}
.navbar {
  width: 100vw;
  position: fixed;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.412);
  height: 70px;
  box-shadow: 10px 10px 40px black;
  z-index: 3;
  font-family: "Playwrite NG Modern", cursive;
}
.nav-link {
  color: white;
}
.me-lg-6 {
  margin-right: 100px;
  margin-left: 300px;
}
/* nav div a {
  text-decoration: none;
  color: white;
  padding: 20px;
  } */
/* nav div input {
    padding: 10px;
    width: 170%;
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    border: none;
    } */
/* nav div h1 {
      color: white;
      } */
.navbar-nav form input {
  padding: 10px;
  width: 300px;
  border-radius: 30px 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.575);
  /* color: white; */
  border: none;
}
.text-warning {
  color: orange;
}
header {
  background: url(./../../photos/quaid-lagan-wSkfttEaBw8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: brightness(0.9);
}

header img {
  width: 100%;
  height: auto;
  filter: brightness(0.7);
}
.hero-container {
  padding: 0 110px;
}
.hero {
  position: absolute;
  top: 200px;
}
.fs-c {
  font-size: 5rem;
}
.sign-in-btn {
  padding: 15px 30px 15px 15px;
  font-size: 1.5rem;
  background-color: orange;
  color: white;
  font-weight: 900;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border: solid 3px orange;
  transition: ease-in-out 2s;
}
.sign-in-btn-anim {
  animation: movemove linear 1s infinite;
}
@keyframes movemove {
  0% {
    background-color: orange;
    border: solid 3px orange;
  }

  50% {
    /* background-color: rgb(255, 208, 0);
    border: solid 3px rgb(255, 208, 0); */
    background-color: rgb(173, 162, 240);
    border: solid 3px rgb(173, 162, 240);
  }

  100% {
    background-color: orange;
    border: solid 3px orange;
  }
}
.login-pop {
  position: absolute;
  background-color: orange;
  width: 80%;
  height: 500px;
  top: -100px;
  translate: -1100px;
  transition: ease-in-out 2.5s;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.input-c {
  width: 70%;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  border: solid 3px orange;
}
.bg-success-c {
  background-color: rgb(19, 255, 129);
}
.login-pop div form div button {
  font-weight: 600;
}
.login-pop div form div {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left-of-login {
  position: relative;
  /* object-fit: cover; */
}
.left-of-login img {
  position: absolute;
  left: -12px;
  height: 100%;
  filter: brightness(1.1);
}
.sign-in-close-btn {
  translate: 1300px 0;
  transition: ease-in-out 2s;
  padding: 15px;
  border: none;
  font-weight: 900;
  font-size: 1.5rem;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  visibility: hidden;
}
.sign-up-btn-in-pop {
  border-radius: 30px 30px 30px 30px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.free-movie {
  transition: ease-in-out 2.5s;
  font-family: "Permanent Marker", cursive;
  color: #f74366 !important;
}
.features {
  width: 100%;
  margin-top: 30px;
  margin-left: 90px;
}
.features i {
  color: black;
  font-size: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.features-detail {
  padding: 10px;
  color: rgba(0, 0, 0, 0.505);
  margin-top: 20px;
}
.new-movies {
  /* position: absolute; */
  /* top: 550px; */
  width: 100%;
  background-color: #000;
  padding-bottom: 10px;
}
.gallery {
  /* display: block; */
  font-size: 4rem;
  font-weight: bold;
  color: white;
  /* translate: 500px 100px; */
  /* width: 100px; */
  text-align: center;
  padding-top: 10px;
  font-family: "Permanent Marker", cursive;
}
.ctr-accordion {
  max-width: 1400px;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  margin: 50px 130px;
  margin-bottom: 30px;
}
.tab {
  position: relative;
  width: 20%;
  height: inherit;
  padding: 20px;
  background-color: black;
  cursor: pointer;
  transition: width 0.5s ease;
  border-radius: 25px;
}
.tab img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  border-radius: 25px;
  opacity: 0.8;
}
.tab:hover img {
  opacity: 1;
}
.tab:hover {
  width: 80%;
}
.quotes {
  width: 100%;
  height: 338px;
  color: rgb(255, 255, 255);
  font-family: "Playwrite NG Modern", cursive;

  padding: 70px;
  font-size: 3.5rem;
  transition: ease 1s;
  font-weight: 700;
  background: url(./../../photos/signupcover.jpg);
  background-size: cover;
  background-position: center;
}
.serials {
  width: 100%;
  height: auto;
  padding: 30px;
  background: linear-gradient(#000000, #9198e5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.card {
  cursor: pointer;
  margin-top: 60px;
  width: 260px;
  height: 400px;
  gap: 25px;
  transition: ease-in-out 0.5s;
  border: none;
}
.card:hover {
  filter: brightness(0.5);
  transform: translateY(10px);
}
.img-for-cards {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.serials p {
  position: absolute;
  top: 0;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.stayMIddle {
  padding: 30px;
}
.imdb-wrapper {
  width: 80%;
  height: 250px;
  /* background-color: blue; */
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.imdb-wrapper-reverse {
  width: 80%;
  height: 250px;
  /* background-color: blue; */
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0)
  );
}
.imdb-card {
  width: 150px;
  height: 200px;
  background-color: black;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollleft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 5px 10px #9198e58a;
  border-radius: 5px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.imdb-card-reverse {
  width: 150px;
  height: 200px;
  background-color: black;
  position: absolute;
  right: max(calc(200px * 8), 100%);
  animation-name: scrollright;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 5px 10px #9198e58a;
  border-radius: 5px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
@keyframes scrollleft {
  to {
    left: -200px;
  }
}
.item1 {
  animation-delay: calc(20s / 8 * (8 - 1) * -1);
}
.item2 {
  animation-delay: calc(20s / 8 * (8 - 2) * -1);
}
.item3 {
  animation-delay: calc(20s / 8 * (8 - 3) * -1);
}
.item4 {
  animation-delay: calc(20s / 8 * (8 - 4) * -1);
}
.item5 {
  animation-delay: calc(20s / 8 * (8 - 5) * -1);
}
.item6 {
  animation-delay: calc(20s / 8 * (8 - 6) * -1);
}
.item7 {
  animation-delay: calc(20s / 8 * (8 - 7) * -1);
}
.item8 {
  animation-delay: calc(20s / 8 * (8 - 8) * -1);
}
.imdb-card img {
  width: 100%;
  height: auto;
}
@keyframes scrollright {
  to {
    right: -200px;
  }
}
.special-bg {
  background-color: rgb(0, 0, 0);
}
.imdb-card:hover {
  transform: translateY(-10px) scaleX(1.1) scaleY(1.1);
  box-shadow: 0 5px 20px #91bfe58a;
}
.imdb-card-reverse:hover {
  transform: translateY(-10px) scaleX(1.1) scaleY(1.1);
  box-shadow: 0 5px 20px #91bfe58a;
}
.font-c {
  font-family: "Courier New", Courier, monospace;
}
article {
  background: url(./../../photos/article3.jpg);
  height: 160vh;
  /* filter: brightness(0.9); */
  animation: lighter linear;
  animation-timeline: view();
  animation-range: cover cover;
  background-position: top;
  background-size: 50%;
  position: relative;
}
article h1 {
  position: absolute;
  top: 40vh;
  margin-left: 20%;
  font-size: 4rem;
  text-align: center;
  color: white;
}
.inner-div {
  position: absolute;
  top: 60vh;
  z-index: 1;
  padding: 20px 200px;
  margin-inline: auto;
  color: white;
}
.font-cc {
  font-size: 4rem;
}

.font-cc {
  font-family: "Playwrite NG Modern", cursive;
  font-weight: 900;
}
.mt-4-c {
  margin-top: 120px;
}
ol {
  line-height: 2rem;
}
@keyframes lighter {
  0% {
    background-size: 100%;
    opacity: 0;
  }
  40% {
    background-size: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    background-size: 300%;
    opacity: 0;
  }
}

.partners {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 40px;
}
.partners img {
  width: 150px;
  height: auto;
}
.partners div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* custom btn */

/*  */
/* .green-c {
  background-color: rgb(100, 255, 100);
  border: 3px solid rgb(100, 255, 100);
} */
.button-50 {
  padding: 10px;
  border: 3px solid white;
  border-radius: 30px 30px 30px 30px;
  background-color: white;
  text-align: center;
  transition: linear 0.1s;
}
.button-50:hover {
  box-shadow: 0 3px 3px black;
}

/* CSS */
.log-Out-c {
  width: 70px;
  height: 30px;
  background-color: transparent;
  margin: 6px;
  border: 3px solid rgba(255, 255, 255, 0.216);
  color: white;
  border-radius: 20px;
  box-shadow: 0 5px 5px black;
  transition: linear 0.2s;
}
.log-Out-c:hover {
  box-shadow: 0 7px 7px black;
  border: 3px solid rgba(255, 255, 255, 0.447);
}
@media (width <= 431px) {
  .fs-c {
    font-size: 3rem;
  }
  .sign-in-btn {
    display: none;
  }
  .hero {
    padding: 10px 30px;
  }
  .new-movies {
    display: none;
  }
  .features {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .features-detail {
    display: none;
  }
  .quotes {
    font-size: 1.7rem;
  }
  article {
    background: linear-gradient(black, rgb(93, 0, 255));
  }
  article h1 {
    top: 10vh;
    margin-left: 0;
  }
  .inner-div {
    top: 50vh;
    padding: 0 20px;
  }
  .inner-div h3 {
    font-size: 3rem;
    color: white !important;
  }
}
@media (width > 432px) and (width < 769px) {
  .fs-c {
    font-size: 4rem;
  }
  .sign-in-btn {
    display: none;
  }
  .hero {
    padding: 10px 30px;
  }
  .ctr-accordion {
    margin: 10px;
  }
  .features {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .quotes {
    font-size: 2.6rem;
  }

  article h1 {
    top: 10vh;
    margin-left: 0;
  }
  .inner-div {
    top: 50vh;
    padding: 20px;
  }
  .inner-div h3 {
    font-size: 4rem;
    background: rgba(0, 0, 0, 0.553);
    padding: 10px;
  }
}
